#modal-wrapper-add-ticket{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    background-color: rgba(0,0,0,0.4);
    overflow: scroll;
  }
  
  #modal-content-add-ticket{
    background-image: url("/assets/Control-Center/promo-req-bg.png");
    background-color: transparent;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    margin: 4% auto 15% auto;
    width: 800px;
    height: 564px;
    padding-bottom: 80px;
    color: white;
  }
  
  .close-add-ticket{
    float: right;
    cursor: pointer;
    font-size: 48px;
    padding-right: 20px;
  }

  #content-box-add-ticket{
      padding: 20px;
      padding-top: 80px;
  }

  #content-box-add-ticket > p{
      font-size: 18px;
      line-height: 27px;
  }

  #add-ticket-form{
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  #add-ticket-form > input{
      background-color: rgba(0,0,0,0.7);
      color: white;
      border: none;
      border-radius: 8px;
      height: 40px;
      display: block;
      margin: 0 auto;
      padding-left: 10px;
      padding-right: 10px;
  }

  #add-ticket-form > button{
    color: #56dff0;
    border: 1px solid #56dff0;
    border-radius: 8px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.7);
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
  }