#modal-wrapper-logout{
  z-index: 5;
  display: none;
}
#logout-modal-header{
  text-align:left;
  padding-left: 20px;
  font-size: 50pt;
}
#logout-form{
  background-image: url("/assets/Home/modalbg.png");
  background-color: transparent;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  margin: 80px auto 15% auto;
  width: 40%;
  height: 400px;
  padding-bottom: 80px;
  color: white;
}
#logout-text{
  margin-top: 40px;
  margin-bottom: 80px;
}
#logout-controls{
  display: grid;
  width: 80%;
  margin-left: 10%;
  grid-template-columns: auto auto;
}
.logout-btn{
  background-color: rgba(0,0,0,0.8);
  color: rgba(86,223,240,1.0);
  border: 1px solid rgba(86,223,240,1.0);
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  height: 32px;
  opacity: 0.5;
}
.logout-btn:hover{
  cursor: pointer;
}

@media(max-width: 900px){
  #logout-form{
    width: 80%;
  }
}

@media(max-width: 550px){
  /*log out modal*/
  #logout-modal-header{
    padding-top: 40px;
  }
  #modal-wrapper-logout{
    z-index: 5;
    display: none;
  }
  #logout-controls{
    display: grid;
    width: 80%;
    margin-left: 10%;
    grid-template-columns: auto auto;
  }
  .logout-btn{
    width: 90%;
  }
  .logout-btn:hover{
    cursor: pointer;
  }
}
