#modal-wrapper-select-promo{
  z-index: 111;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#sp-content{
  background-image: url("/assets/Home/modalbg.png");
  background-color: transparent;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  margin: 15% auto 15% auto;
  width: 600px;
  height: 300px;
  padding: 20px;
  text-align: center;
  color: white;
}

#sp-select{
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  height: 50px;
  font-size: 20pt;
  border: none;
  font-family: Industry;
}

#sp-submit{
  display: block;
  margin-top: 40px;
  color: #56dff0;
  font-size: 20pt;
  font-family: Industry;
}

@media(max-width: 600px){
  #sp-content{
    width: 300px;
    height: 600px;
  }

  #sp-select, #sp-submit{
    width: 250px;
  }

  #sp-submit{
    height: 200px;
  }
}
