.chat-wants-connect-btn{
  color: #56dff0;
  background-color: rgba(0,0,0,0.7);
  border: none;
  border-radius: 6px;
}

.open-promo-btn{
  color: #56dff0;
  background-color: rgba(0,0,0,0.7);
  border-radius: 4px;
  border: none;
}
