#modal-wrapper-referral{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  background-color: rgba(0,0,0,0.4);
}

#modal-content-referral{
  background-image: url("/assets/Control-Center/promo-req-bg.png");
  background-color: transparent;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  margin: 4% auto 15% auto;
  width: 800px;
  height: 564px;
  padding-bottom: 80px;
  color: white;
  padding-left: 20px;
}

#referer-header{
  padding-top: 20px;
  font-size: 50px;
}
#referer-description{
  margin-top: 80px;
  font-size: 18pt;
}
#referer-span{
  font-family: Industry;
  font-size: 18pt;
  display: block;
}
#get-referral-code-btn{
  color: #56dff0;
  font-size: 32pt;
  display: block;
  background-color: transparent;
  border: none;
  width: 400px;
  margin: 0 auto;
  margin-top: 90px;
}

@media(max-width: 850px){
  #modal-content-referral{
    width: 400px;
    height: 564px;
    padding-right: 10px;
  }
  #referer-header{
    padding-top: 16px;
    font-size: 32px;
  }
  #referer-description{
    margin-top: 16px;
  }
  #get-referral-code-btn{
    font-size: 26pt;
    margin-top: 16px;
  }
}
@media(max-width: 450px){
  #modal-content-referral{
    width: 300px;
    height: 564px;
  }
  #referer-header{
    padding-top: 16px;
    font-size: 28px;
  }
  #referer-description, #referer-span{
    margin-top: 16px;
    font-size: 20px;
  }
  #get-referral-code-btn{
    width: 300px;
    font-size: 28px;
    margin-top: 16px;
  }
}
